{% extends "layout.html" %}

{% block title %}{{ category }}{% endblock %}

<!-- Navbar with home button and login options -->
{% block navcontent %}
    <a href="/">
        <button style="text-align: center; background-color: #2867AE; width: 60px;"><img src="static/House.png" height="50px" alt="House"></button>
    </a>
{% endblock %}

<!-- List of quizzes within a single category -->
{% block main %}
<div class="index">
    <div class="indexBottom">
        <div style="text-align: center; padding-top: 3%; padding-bottom: 8%;">
            <div class="categories">
                <div class="quizCard">
                    <img src="static/quizcardpics/{{ quizName1 }}.png" alt="{{ quizName1 }}"/>
                    <p class="quizCardText">{{ quizName1 }} Quiz</p>
                    <a href="/{{ quizLink1 }}">
                        <button>Start!</button>
                    </a>
                </div>
            </div>
            <div class="categories">
                <div class="quizCard">
                    <img src="static/quizcardpics/{{ quizName2 }}.png" alt="{{ quizName2 }}"/>
                    <p class="quizCardText">{{ quizName2 }} Quiz</p>
                    <a href="/{{ quizLink2 }}">
                        <button>Start!</button>
                    </a>
                </div>
            </div>
            <div class="categories">
                <div class="quizCard">
                    <img src="static/quizcardpics/{{ quizName3 }}.png" alt="{{ quizName3 }}"/>
                    <p class="quizCardText">{{ quizName3 }} Quiz</p>
                    <a href="/{{ quizLink3 }}">
                        <button>Start!</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}